{{#each blockGroup.blocks as |block|}}
  <div class="blockGroup-item _model">
    {{blo-ck block=block}}
  </div>
{{/each}}

{{#if hasBlock}}
  <div class="blockGroup-item _yield">
    {{yield}}
  </div>
{{/if}}