@import app/styles/config/rwd

=block-group-three

  +eq-pts((zero: 0, small: 400, medium: 800, large: 1200))

  .blockGroup-blocks
    flex-wrap: wrap

  +eq(zero)
    .blockGroup-item
      width: 100%

  +eq(small)
    .blockGroup-item
      width: 50%

  +eq(medium)
    .blockGroup-item
      width: (100% / 3)


=block-group-space-around
  .blockGroup-blocks
    justify-content: space-around


=block-group-space-between
  .blockGroup-blocks
    justify-content: space-between
