<div class="route-application-section _main">
  {{outlet}}
</div>

{{#sec-tion}}

  {{#block-group
    group='footer'
    blocks=model.blocks
    class="route-application-blockGroup"
  }}
    {{log-in-out
      signInViaGithub=(action 'signInViaGithub')
      signOut=(action 'signOut')
    }}
  {{/block-group}}

{{/sec-tion}}