{{#carou-sel
  titleImages=model.titleImages
}}
  <div class="route-index-logo">
    <h1 class="route-index-logo-title">Море-Море</h1>
    <p class="route-index-logo-subtitle">тайм-кафе</p>
  </div>
{{/carou-sel}}

{{block-group
  blockGroup=model.blockGroupCallout
  class="route-index-callout"
}}